.hero {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  padding: 18px;
}
input {
  min-width: 72%;
  height: 44px;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  outline: none;
}
input::placeholder {
  color: rgb(189, 185, 185);
}
.surah-container {
  margin: 24px 0;
  display: grid;
  padding: 0 16px;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(38, auto);
}
@media screen and (min-width: 768px) {
  .surah-container {
    grid-template-columns: repeat(2, minmax(0, 100vh));
  }
}
@media screen and (min-width: 1280px) {
  .surah-container {
    grid-template-columns: repeat(3, minmax(0, 100vh));
  }
}
@media screen and (max-width: 768px) {
  .surah-container {
    grid-template-columns: repeat(1, minmax(0, 100vh));
  }
}

.surah {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 4px 0px;
  border-radius: 6px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.surah:hover {
  background-color: rgba(240, 248, 255, 0.153);
  cursor: pointer;
}
.surah .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-of-surah {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-of-surah > h1 {
  position: absolute;
  color: white;
  font-size: 16px;
  margin: 0;
}

.right {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 22px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.img-dark {
  transform: scale(1.3);
}
