.hero {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgb(24, 81, 73);
  background: linear-gradient(
    90deg,
    rgba(24, 81, 73, 1) 0%,
    rgba(48, 221, 155, 1) 49%,
    rgba(149, 255, 213, 1) 100%
  );
  padding: 18px;
}
input {
  width: 70%;
  height: 44px;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  background-color: #1e6e63;
  color: rgb(255, 255, 255);
  outline: none;
}
input::placeholder {
  color: rgb(189, 185, 185);
}
.surah-container {
  margin: 24px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(38, auto);
}
.surah {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 4px 32px;
  border-radius: 6px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.surah:hover {
  background-color: rgba(240, 248, 255, 0.153);
  cursor: pointer;
}
.surah .left {
  display: flex;
  margin-right: 120px;
  justify-content: center;
  align-items: center;
}
.number-of-surah {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-of-surah > h1 {
  position: absolute;
  color: white;
  font-size: 16px;
  margin: 0;
}
.number-of-surah > img {
}
.right {
  justify-content: center;
  align-items: center;
  display: flex;
}
