body {
  margin: 0;
  padding: 0;
}
.dark-mode {
  background: rgb(13, 0, 89);
  background: linear-gradient(
    90deg,
    rgba(13, 0, 89, 1) 0%,
    rgba(0, 22, 205, 1) 50%,
    rgba(144, 176, 255, 1) 100%
  );
  transition: background 0.5s;
}
.dark-mode nav {
  background-color: #0d0059;
  transition: background-color 0.5s;
}
.dark-mode input {
  background-color: #0d0059;
}
.light-mode input {
  background-color: #20635a;
}
.light-mode nav {
  background-color: #20635a;
}
.light-mode {
  background: rgb(24, 81, 73);
  background: linear-gradient(
    90deg,
    rgba(24, 81, 73, 1) 0%,
    rgba(48, 221, 155, 1) 49%,
    rgba(149, 255, 213, 1) 100%
  );
}
