body {
  background: rgb(24, 81, 73);
  background: linear-gradient(
    90deg,
    rgba(24, 81, 73, 1) 0%,
    rgba(48, 221, 155, 1) 49%,
    rgba(149, 255, 213, 1) 100%
  );
}
.sourate > h1 {
  font-size: 52px;
}
.sourate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}
.ayat-container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 12px;
  justify-content: end;
  align-items: center;
  max-width: 700px;
  padding: 0 32px;
}
.ayat-container .aya {
  background-color: rgba(5, 169, 93, 0.856);
  color: white;
  border: 1px black solid;
  padding: 0px 32px;
  justify-content: end;
  border: 1px solid black;
  border-radius: 4px;
}
