.reciter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reciter-container .reciter-cards-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
  gap: 16px;
  padding: 12px 22px;
}
.reciter-container .reciter-card {
  background-color: #f1f1f14a;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  border: 1px solid rgb(0, 126, 97);
  text-align: center;
}
